:root {
  font-size: 62.5%;

  --ff-texting: 'Open Sans', sans-serif;
  --ff-heading: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-family: var(--ff-texting);
  font-weight: normal;

  min-height: 100vh;
}

.page {
  width: 59.2rem;
  margin: 0 auto;
  text-align: center;
}

main {
  margin-bottom: 7.2rem;
}

main img {
  margin-bottom: 7.2rem;
}

main h1 {
  font-family: var(--ff-heading);
  font-weight: normal;
  font-size: 4.9rem;
  line-height: 5.6rem;

  margin-bottom: 4rem;
}

main h1 span {
  font-weight: bold;
}

main p + p {
  margin-top: 3.2rem;
}

footer {
  border-top: 1px solid red;

  padding-top: 1rem;
  margin-bottom: 3.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.7rem;
}